

/* THIS IS MY FIRST CSS STYLESHEET, I SHOULD USE IT AS A GUIDANCE AND FOLLOW THE STRUCTURE. APRIL 8 2020.
--------------------------------- */


/* RESET
--------------------------------- */
/* #region  */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* box model to border-box */
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

/* #endregion */


/* BASIC FORMATTING
--------------------------------- */

/* root formats */
html {
  font-size: 15px; 
  scroll-behavior: smooth;
  display: block;
  
}

/* the body formats */
body {
  font-size: 1.45rem; 
  font-family: sans-serif;
  color: black;
  line-height: 1em;
  background-color:whitesmoke;
}

nav {
  background-color: white;
  font-size: 1rem;
  float: center;

  
}
ul {
  list-style-type: none;
  margin: 50;
  padding: 10;
  overflow: hidden;
  

}
 
li a {
  display: inline-block;
  list-style-position: initial;
  color: black;
  text-align: center;
  padding: 1px 1px;
  margin: 1px 1px ;
  text-decoration:none ;
  font-weight: 500;
  font-style: initial;
}

li a:hover:not(.active) {
  background-color: rgb(222, 230, 233);
  transition: color 0.1s ease;
}

.active {
  background-color: #3be641;
}

/* titles formatting */
h1{
  font-weight: 700;
  font-size: 1.25rem;

}

h2{
  font-weight: 700;
  font-size: 1.25rem;
  
}

h3 { 
  font-weight: 500;
  font-size: 1rem;
  color:white;
}

p {
  margin-bottom: 3em;
  font-size: 1rem;
  color:black;
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 2px;
}

div {
  width: auto;
  border: 1px solid white;
  padding: 20px;
  margin: 70px;
  position: relative;
  background-color:white;
 
  
}

  
/* HELPER CLASSES
--------------------------------- */
.left        { float: left; }
.right       { float: right; }

.text-left   { text-align: left; }
.text-right  { text-align: right; }
.text-center { text-align: center; }

.gallery P


/* margins & paddings */
.m-x-1 {margin-left: 1rem; margin-right: 1rem;}
.m-x-2 {margin-left: 2rem; margin-right: 2rem;}
.m-x-3 {margin-left: 3rem; margin-right: 3rem;}
.m-x-5 {margin-left: 5rem; margin-right: 5rem;}
.m-y-1 {margin-top: 1rem; margin-bottom: 1rem;}
.m-y-2 {margin-top: 2rem; margin-bottom: 2rem;}

.p-y-1 {padding-top: 1rem; padding-bottom: 1rem;}
.p-y-2 {padding-top: 2rem; padding-bottom: 2rem;}
.p-y-3 {padding-top: 3rem; padding-bottom: 3rem;}
.p-y-4 {padding-top: 4rem; padding-bottom: 4rem;}
.p-y-5 {padding-top: 5rem; padding-bottom: 5rem;}
.p-y-10 {padding-top: 19rem; padding-bottom: 30rem;}



/* font properities */
.bold {font-weight: bold;}
.text-c {text-align: center;}
.text-r {text-align: right;}
.t-w {color: white;}
.-font {font-size: 40px;}
.--font {font-size: 30px ;}
.l-font {font-size: 3rem;}
.italic {font-style: italic;}
.uppercase {text-transform: uppercase;}




/* backgroundss */ 
.img-bg {background-image: url(/assets/img/camera.jpg); background-position: center center; background-repeat: no-repeat;
  background-attachment: fixed;  background-size: cover; background-repeat: no-repeat;}

.bg-footer {background-color: rgb(129, 24, 50);}

.img1-bg {background-image: url(/assets/img/camera.jpg); 
  background-repeat: no-repeat; background-size: cover; padding: 200px; 
}

.w-200px {width: 200px;}
.w-400px {width: 400px;}
.w-500px {width: 600px;}

.flex {display: flex;}
.f-right {justify-content: flex-end;}  

/* MEDIA QUERIES
--------------------------------- */
@media (min-width: 1024px){


}

@media ( min-width: 768px){

}

@media (min-width: 480px){


}